---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Cursos">
    <div class="container">
        <h1>Cursos</h1>
        <p>This is the courses page.</p>
    </div>
</MainLayout>
