---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/landing/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

import HeroSection from "../components/landing/HeroSection.astro";
import FeaturesSection from "../components/landing/FeaturesSection.astro";
import CoursesSection from "../components/landing/CoursesSection.astro";
import CommunitySection from "../components/landing/CommunitySection.astro";
import SimulatorSection from "../components/landing/SimulatorSection.astro";
import TestimonialsSection from "../components/landing/TestimonialsSection.astro";
import CTASection from "../components/landing/CTASection.astro";
---

<MainLayout title="Caja Fuerte - Comunidad Educativa de Apuestas">
  <ThemeToggle />
  <Header />
  <main>
    <HeroSection />
    <FeaturesSection />
    <CoursesSection />
    <CommunitySection />
    <SimulatorSection />
    <TestimonialsSection />
    <CTASection />
  </main>
  <Footer />
</MainLayout>
